@model AdminLeaveRequestViewModel

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create" class="fa fa-plus-circle btn btn-block btn-primary col-md-3 text-white font-weight-bold"> Add Leave For Employee</a>
</p>

<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">

            <div class="card-body text-center text-primary">
                <h1 class="card-title">@Model.TotalRequests</h1>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.TotalRequests)</h5>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">

            <div class="card-body text-center text-success">
                <h1 class="card-title">@Model.ApprovedRequests</h1>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.ApprovedRequests)</h5>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">

            <div class="card-body text-center text-warning">
                <h1 class="card-title">@Model.PendingRequests</h1>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.PendingRequests)</h5>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">

            <div class="card-body text-center text-danger">
                <h1 class="card-title">@Model.RejectedRequest</h1>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.RejectedRequest)</h5>

            </div>
        </div>
    </div>
</div>
<br />
<br />

<hr />
<h1>Leave Requests</h1>
<table id="LeaveRequestTable" class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                StartDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                LeaveType
            </th>
            <th>
                Date Requested
            </th>
            <th>
                Approval Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            <tr>
                <td>
                    @item.RequestingEmployee.FirstName @item.RequestingEmployee.LastName
                </td>
                <td>
                    @item.StartDate.ToShortDateString()
                </td>
                <td>
                    @item.EndDate.ToShortDateString()
                </td>
                <td>
                    @item.LeaveType.Name
                </td>
                <td>
                    @item.RequestDate.ToShortDateString()
                </td>

                @if (item.Approved == true)
                {
                    <td>
                        <span class="badge badge-success">Approved</span>
                    </td>
                }
                else if (item.Approved == false)
                {
                    <td>
                        <span class="badge badge-danger">Rejected</span>
                    </td>
                }
                else
                {
                    <td>
                        <span class="badge badge-warning">Pending Approval</span>
                    </td>
                }



                <td>

                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fa fa-file"> Review </i>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#LeaveRequestTable').DataTable();
        });
    </script>
}


